body {
    background-image: url(assets/background.jpg);
    font-family: cursive;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
   padding: 0;
    height: 50px;
   background-color: #e2dfdf;
    border-radius: 4px 4px;
    box-shadow: 5px 5px 15px red;
    text-decoration: solid;
   
  }

  #h1 {
    display: flex;
 flex-direction: row;
 justify-content: flex-start;
  }
  
  li {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  a:hover{
    text-decoration: underline;
  }
  a {
    text-decoration: none;
    color: #0d0d0d;
    text-shadow: #020202 1px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  
  .picture-box {
    display: flex;
    flex-direction: row;
  }
  
  .picture-box img {
    width: 65vw;
    border-radius: 4px 4px;
    box-shadow: 5px 5px 15px red;
  }
  .picture-box img:hover{
    opacity: 0.5;
  }

  .text-box{
    background-color: #e2dfdf;
    border-radius: 4px 4px;
    box-shadow: 5px 5px 15px red;
  }
  .text-box:hover{
    opacity: 0.5;
  }

  #portfolio-body{
    background-image: url(assets/workinprogress.jpg);
    
  }
  
  footer {
    font-family: fantasy;
    position: fixed;
    bottom: 0;
  left: 0;
    width: 100vw;
    text-align: center;
    background-color: #e2dfdf;
    border-radius: 4px 4px;
    box-shadow: 5px 5px 15px red;
    text-decoration: solid;
  }

  @media screen and (width) {
    
  }